body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1a1a1a; /* Fundo escuro */
    color: #fff; /* Texto branco */
}

header {
    background-color: #c8102e; /* Vermelho */
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}
.titulo {
    font-size :70px;    
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

.aula {
    background-color: #333; /* Cinza escuro */
    margin: 20px 0;
    padding: 15px;
    border-radius: 8px;
}

.aula h2 {
    color: #c8102e; /* Vermelho */
}

footer {
    background-color: #c8102e; /* Vermelho */
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}